langchain-community
langchain-ollama
langchain-text-splitters
langchain-core
langgraph
PyPDF2
tavily-python
langchain-groq
langchain-huggingface
langchain-chroma
sentence-transformers
spacy
langchain>=0.0.80
flashrank
beautifulsoup4
langchain-openai
pydantic
streamlit
chromadb