# Name this example file > secrets.toml 
# e.g with Poweshell you can use command "copy .streamlit\secrets.toml.example .streamlit\secrets.toml"

OPENAI_API_KEY="sk-------"
TAVILY_API_KEY="tvly-------"
GROQ_API_KEY="gsk_-------"